body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.card-cont {
  width: 20rem;
  margin: 10px;
}

.card-comment {
  width: 100%;
}